<h1>Where AM I!?</h1>
<p>Tell us where You are or are off to!</p>
<div class="btn-group">
  <%= link_to "Set Work", setposition_path(person: "me", place: "work", pin: 11),
      method: :post, class: "btn btn-default" %>
  <%= link_to "Set Home", setposition_path(person: "me", place: "home", pin: 11),
      method: :post, class: "btn btn-success" %>
  <%= link_to "Set Another place", setposition_path(person: "me", place: "somewhere", pin: 11),
      method: :post, class: "btn btn-primary" %>
</div>
